<section style="background: linear-gradient(to right, #6ebce2, #3a7fd5);">


     <div class="superNav border-bottom py-2 bg-light">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
                         <select class="me-3 border-0 bg-light">
                              <option value="en-us">EN-US</option>
                         </select>
                         <span
                              class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>inhome@gmai.com</strong></span>
                         <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i>
                              <strong>8553668973</strong></span>
                    </div>
                    <div
                         class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
                         <span class="me-3">
                              <i class="fa-solid fa-truck text-muted me-1"></i>
                              <a class="text-muted">About</a></span>
                         <span class="me-3" (click)="logOut()">
                              <i class="fa fa-sign-out" aria-hidden="true"></i>
                              <a class="text-muted">Logout</a>
                         </span>
                    </div>
               </div>
          </div>
     </div>


     <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm">
          <div class="container-fluid">
               <a class="navbar-brand" href="#"><i class="fas fa-mobile-alt me-2"></i> <strong>In House App</strong></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
                    <div class="input-group">
                         <span class="border-warning input-group-text bg-warning text-white"><i
                                   class="fa-solid fa-magnifying-glass"></i></span>
                         <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                         <button class="btn btn-warning text-white">Search</button>
                    </div>
               </div>


               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="ms-auto d-none d-lg-block">
                         <div class="input-group">
                              <span class="border-warning input-group-text bg-warning text-white"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>
                              <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                              <button class="btn btn-warning text-white">Search</button>
                         </div>
                    </div>
                    <ul class="navbar-nav ms-auto ">
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/users"
                                   routerLinkActive="active">User</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/projects"
                                   routerLinkActive="active">Project</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/environments"
                                   routerLinkActive="active">Environment</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/applications"
                                   routerLinkActive="active">Applications</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/news"
                                   routerLinkActive="active">News</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link mx-2 text-uppercase" routerLink="/users" routerLinkActive="active"><i
                                        class="fa-solid fa-circle-user me-1"></i>
                                   Account</a>
                         </li>
                    </ul>

               </div>
          </div>
     </nav>
</section>


<!-- <div class="container-fluid bg-white" role="navigation">
     <div class="text-center py-2"><img src="assets/images/mobile.png" alt="" height="90"
               ezimgfmt="rs rscb1 src ng ngcb1" class=" ezlazyloaded"
               data-ezsrc="/static_files/images/logos/logo_4.png?ezimgfmt=rs:121x90/rscb1/ngcb1/notWebP"
               ezoid="0.392930047569392"></div>
     <div class="row text-center align-items-center g-0">
          <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none ms-auto">
               <div class="d-flex justify-content-around border-top border-bottom border-dark">
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Home</a></div>
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Product</a></div>
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Pricing</a></div>
               </div>
          </div>
          <div class="col-lg-2 col-md-2 mx-auto" style="max-width:120px">
               <i class="fas fa-mobile-alt fs-3 text-danger" id="circleIcon" aria-hidden="true"></i>
          </div>
          <div class="col-lg-5 col-md-5 d-none d-lg-block d-md-block d-xs-none me-auto">
               <div class="d-flex justify-content-around border-top border-bottom border-dark">
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Company</a></div>
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Services</a></div>
                    <div class="customLink"><a class="d-inline-block p-3" href="#">Contact Us</a></div>
               </div>
          </div>
     </div>
</div> -->